/**
*   CARDS STYLES GENERALS V2
**/

/* layout */
.mdl-card-holder {
    .mdl-card { width:calc(100% - .1px); }
}

/**
*   HOME CARDS
**/
.home-cards { background-color:rgba(255, 255, 255, .65); justify-content:space-between; min-height:$home-cards-min-height;
    .mdl-card__supporting-text { width:auto; }
    .mdl-card__actions { text-align:right; }
    .mdl-card__media { background-color:transparent; }
}

/*** home all users box ***/
.home-card__allrespondent-profile-short-box {
    ul { list-style:none; padding-left:0;
      > li { padding-top:$gutter-base;
        &:first-child { padding-top:0; }
      }
    }

    // completion box visible only for small screens
    .completion-figure { margin-top:2*$gutter-base; }
    @include media(">tablet") { 
        .dashboard-section & .completion-figure { display:none; }
    }
}

/*** home single completion box ***/
.home-card__single-respondent-box .mdl-card__supporting-text { font-size:1.5em; display:flex; flex-direction:column; justify-content:center; }

/**
*   TIME TRAVEL CARDS
**/
.home-card__time-box { min-height:0; }

/**
*   ABOUT CARDS
**/
.home-card__project { width:auto; min-height:0; background-size:cover; background-repeat:no-repeat;
    background-image:linear-gradient(to right, rgba($project-overlay-color, .75), rgba($project-overlay-color, .75)), url('/static/img/dashboard-bg.jpg');
    .mdl-card__title, 
    .mdl-card__supporting-text,
    .mdl-card__actions .mdl-button:not(.mdl-button--colored) { color:white; }
}
