/* page content */
body {
  .page-content { padding:$gutter-base; }
  h1 { margin-top:0; }
  p { margin-bottom:$gutter-base; }
}

/* page transitions */
.fade-enter-active, .fade-leave-active {
  transition: all $page-tr-duration ease;
}

.fade-leave-to {
  transform: translateY($page-tr-vert-offset);
}

.fade-enter-active { transform: translateY(-$page-tr-vert-offset); }
.fade-enter-to {
  transform: translateY(0);
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
