/* page content */
html body { font-family: "Roboto","Helvetica","Arial",sans-serif;
  .page-content { padding:2*$gutter-base; }
  h1 { margin-top:0; }
  p { margin-bottom:$gutter-base; }
}

/* route specific styles in content */
.page-content { box-sizing:border-box; min-height:calc(100vh - #{$header-big-height});
  @include media("<=large-desktop") { min-height:calc(100vh - #{$header-small-height}); }
  &.home { background:url('/static/img/dashboard-bg.jpg') no-repeat; background-size:cover; }
}

/* page transitions */
.fade-enter-active, .fade-leave-active {
  transition: all $page-tr-duration ease;
}

.fade-leave-to {
  transform: translateY($page-tr-vert-offset);
}

.fade-enter-active { transform: translateY(-$page-tr-vert-offset); }
.fade-enter-to {
  transform: translateY(0);
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

/* headers */
h1 .material-icons { margin-right:$gutter-base*2; font-size:inherit; position:relative; top:9px; }
h2 .material-icons { margin-right:$gutter-base; font-size:inherit; position:relative; top:9px; }

/* links */
a .material-icons { margin-right:$gutter-base; }

/* mood figure (mood label + icon) */
.mood-figure { display:flex; justify-content:flex-end; flex-direction:row-reverse; align-items:center;
  figcaption { margin-right:$gutter-base; }
  &.aligned-right { justify-content:flex-start; }
  &.aligned-left { justify-content:flex-start; flex-direction:row;
    figcaption { margin-right:0; margin-left:$gutter-base; }
  }
}
