/* COLORS */
$zebra-list-bg: rgba(0, 0, 0, .025);
$primary: #ff5722;
$grey: #e7eaec;
$selected-color:lighten($primary, 35%);
$selected-focus-color:lighten($primary, 5%);
$low-color: darken(red, 8%);
$medium-color: rgba(0,0,0,.54);
$high-color: darken(green, 5%);
$snack-bar-bg: rgba(0, 0, 0, .75);

/* DIMENSIONS */
$gutter-base: 9px;
$avatar-size: 60px;
$home-cards-min-height: 175px;
$header-small-height: 56px;
$header-big-height: 64px;

/* RWD */
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px, large-desktop: 1600px);

/* transitions */
$page-tr-duration: .3s;
$btn-tr-duration: .3s;
$page-tr-vert-offset: 20px;