/* COLORS */
$zebra-list-bg: rgba(0, 0, 0, .025);

/* DIMENSIONS */
$gutter-base: 9px;
$avatar-size: 60px;

/* RWD */
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px, large-desktop: 1600px);

/* transitions */
$page-tr-duration: .3s;
$page-tr-vert-offset: 20px;