waf-input {
  /**
    *  core component styles 
    **/
  /**
    *  component skin
    **/
  /* ==========  fallback variables  ========== */
  /* ==========  fallback computed variables  ========== */ }
  waf-input input:valid + .waf-textfield__error,
  waf-input input:disabled + .waf-textfield__error {
    display: none; }
  waf-input .waf-textfield {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0; }
  waf-input .waf-textfield--align-right label,
  waf-input .waf-textfield--align-right input,
  waf-input .waf-textfield--align-right .waf-textfield__error {
    text-align: right; }
  waf-input .waf-textfield--full-width {
    width: 100%; }
  waf-input input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit; }
    waf-input input[type="number"] {
      -moz-appearance: textfield; }
    waf-input input[type="number"]::-webkit-inner-spin-button, waf-input input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  waf-input .waf-textfield.is-focused input {
    outline: none; }
  waf-input .waf-textfield.is-invalid input {
    border-color: rgb(211,47,47);
    box-shadow: none; }
  waf-input fieldset[disabled] .waf-textfield input,
  waf-input .waf-textfield.is-disabled input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0,0,0, 0.12);
    color: rgba(0,0,0, 0.26); }
  waf-input .waf-textfield__label {
    bottom: 0;
    color: rgba(0,0,0, 0.26);
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left; }
    waf-input .waf-textfield__label:after {
      background-color: rgb(63,81,181);
      bottom: 20px;
      content: '';
      height: 2px;
      left: 45%;
      position: absolute;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      visibility: hidden;
      width: 10px; }
  waf-input .waf-textfield.is-dirty .waf-textfield__label,
  waf-input .waf-textfield.has-placeholder .waf-textfield__label {
    visibility: hidden; }
  waf-input .waf-textfield--floating-label .waf-textfield__label {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  waf-input .waf-textfield--floating-label.has-placeholder .waf-textfield__label {
    transition: none; }
  waf-input fieldset[disabled] .waf-textfield .waf-textfield__label,
  waf-input .waf-textfield.is-disabled.is-disabled .waf-textfield__label {
    color: rgba(0,0,0, 0.26); }
  waf-input .waf-textfield--floating-label.is-focused .waf-textfield__label,
  waf-input .waf-textfield--floating-label.is-dirty .waf-textfield__label,
  waf-input .waf-textfield--floating-label.has-placeholder .waf-textfield__label {
    color: rgb(63,81,181);
    font-size: 12px;
    top: 4px;
    visibility: visible; }
  waf-input .waf-textfield--floating-label.is-invalid .waf-textfield__label {
    color: rgb(211,47,47);
    font-size: 12px; }
  waf-input .waf-textfield.is-focused .waf-textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%; }
  waf-input .waf-textfield.is-invalid .waf-textfield__label:after {
    background-color: rgb(211,47,47); }
  waf-input .waf-textfield__error {
    color: rgb(211,47,47);
    position: absolute;
    font-size: 12px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin-top: 3px;
    visibility: hidden;
    display: block; }
  waf-input .waf-textfield.is-invalid .waf-textfield__error {
    visibility: visible; }
